html {
  min-height: auto;
  height: 100%;
}

html *,
html *:before,
html *:after {
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.template {
  height: 100%;
  width: 100%;
}
